[user]
	name = bashi8128
	email = itabasi.lm@gmail.com
	signingkey = A202685984C44273

[color]
	diff = auto
	status = auto
	branch = auto
	ui = true

[alias]
	lgb = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches
	cdiff = diff --cached
	co = checkout
	sw = switch

[core]
	quotepath = false
	excludesfile = /home/itabashi/.gitignore_global
	attributesfile = /home/itabashi/.gitattributes
	editor = nvim
	pager = delta

[diff "xlsx"]
	binary = true
	textconv = /home/itabashi/go/bin/git-xlsx-textconv

[init]
	defaultBranch = main

[pull]
	ff = only

[includeIf "gitdir:~/ghe/"]
  path = ~/.gitconfig_ghe

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[gpg "ssh"]
	allowedSignersFile = /home/itabashi/.ssh/allowed_signers

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
